In [43]:
from mysql import connector
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy import create_engine
from sqlalchemy_utils.functions import database_exists, create_database
from sqlalchemy.orm import sessionmaker, relationship, declarative_base

from sqlalchemy import Column, Integer, String, DateTime, Float, Boolean
from urllib.parse import quote_plus

In [23]:
my_connection = connector.connect(
    host = "localhost",
    user = "root",
    password = "root",
    database = "data_lake"
)
db_cursor = my_connection.cursor()

engine = create_engine('mysql+mysqlconnector://root:root@localhost:3306/data_lake', echo = False)

In [4]:
data = pd.read_csv('data_lake.csv')

C:\Users\Yoel\AppData\Local\Temp\ipykernel_9512\3717301982.py:1: DtypeWarning: Columns (3,4,6,7,8,9,10,11,15,16,17,18,21,22,24,25,27,28,29,30,31) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data_lake.csv')

In [ ]:
# CLEANING UP AND UPLOADING FURNITURE DATA -Yoel

#Isolate the furniture data
filtered_furn = data[data['sellable_online'].notnull()]

# Drop the odd Unnamed tables
filtered_furn = filtered_furn.drop('Unnamed: 0.1', axis=1)
filtered_furn = filtered_furn.drop('Unnamed: 0', axis=1)

#Drop the columns with all NaN values
filtered_furn = filtered_furn.dropna(axis=1, how='all')

# Other colors is a useless column, can see with the link
filtered_furn = filtered_furn.drop('other_colors', axis=1)

# Sellable_online is a useless column, can see with the link
filtered_furn = filtered_furn.drop('sellable_online', axis=1)

# Drop duplicate item_ids
filtered_furn = filtered_furn.drop_duplicates('item_id')

# Drop data if all three dimesions are null
filtered_furn = filtered_furn.dropna(subset=['depth', 'height', 'width'], how='all')

# Cast item_id into int 
filtered_furn['item_id'] = filtered_furn['item_id'].astype(int)


filtered_furn.to_sql('furnitures', con = engine)

In [37]:
# Sample Queries for Furniture

def get_furniture_by_price(max_price):
    stmt = '''
    SELECT * FROM furnitures
    WHERE price <= %(max_price)s
    '''
    
    db_cursor.execute(stmt, {'max_price' : max_price})
    result_set = db_cursor.fetchall()
    return pd.DataFrame(result_set)

def get_furtniture_by_category(category):
    stmt = '''
    SELECT * FROM furnitures
    WHERE category = %(category)s
    '''

    db_cursor.execute(stmt, {'category' : category})
    result_set = db_cursor.fetchall()
    return pd.DataFrame(result_set)

def get_furniture_by_width(width):
    stmt = '''
    SELECT * FROM furnitures
    WHERE width <= %(width)s
    '''

    db_cursor.execute(stmt, {'width' : width})
    result_set = db_cursor.fetchall()
    return pd.DataFrame(result_set)

def get_furniture_has_old_price():
    stmt = '''
    SELECT * FROM furnitures
    WHERE old_price != 'No old price'
    '''

    db_cursor.execute(stmt)
    result_set = db_cursor.fetchall()
    return pd.DataFrame(result_set)

In [15]:
# CLEANING UP AND UPLOADING THE BOOKS DATA - Pavithra

subset = data.loc[29292:30584, ['ranks', 'title', 'no_of_reviews', 'ratings', 'author', 'cover_type', 'year','genre', 'price']]
subset = subset.dropna()
subset = subset.reindex(columns=["ranks","title","no_of_reviews","ratings","author", "year","price", "genre", "cover_type"])
subset = pd.DataFrame(subset)
subset.columns = ["book_rank", "book_title", "no_of_reviews", "rating","authors", "year", "price", "genre", "cover_type"]
subset.reset_index(drop=True, inplace=True)

# Replace NaN values with 0
subset['year'] = subset['year'].fillna(0)

# Convert column to integers
subset['year'] = subset['year'].astype(int)

# Replace NaN values with 0
subset['book_rank'] = subset['book_rank'].fillna(0)

# Convert column to integers
subset['book_rank'] = subset['book_rank'].astype(int)

subset.to_sql("books", con = engine, if_exists= 'replace', index=False)

1285

In [34]:
# Queries for Books

def get_top_books(year, limit=10):
    query = f'''
        SELECT book_title, rating
        FROM books
        WHERE year = {year}
        ORDER BY rating DESC
        LIMIT {limit};
    '''
    db_cursor.execute(query)
    results = db_cursor.fetchall()
    return results

def get_book_with_most_reviews():
    query = '''
        SELECT book_title, no_of_reviews
        FROM books
        ORDER BY no_of_reviews DESC
        LIMIT 1;
    '''
    db_cursor.execute(query)
    result = db_cursor.fetchone()
    return result

results = get_top_books(2016)
print("Data for getting the top ranked books")
for row in results:
    print(row)

get_book_with_most_reviews()

Data for getting the top ranked books
('Harry Potter Paperback Box Set (Books 1-7)', 4.9)
("D&D Player's Handbook (Dungeons & Dragons Core Rulebook)", 4.9)
('Brown Bear, Brown Bear, What Do You See?', 4.9)
('Hamilton: The Revolution', 4.9)
("Oh, the Places You'll Go!", 4.9)
('Little Blue Truck board book', 4.9)
('Goodnight Moon', 4.9)
('Love You Forever', 4.9)
('The Very Hungry Caterpillar', 4.9)
('Chicka Chicka Boom Boom (Board Book)', 4.9)

('Sookie Stackhouse', '995')

In [38]:
#CLEANING UP AND UPLOADING THE POKEMON DATA - Jose

Base = declarative_base()

class PokemonCards(Base):
    __tablename__ = 'pokemon_cards'
    pokemon_card_id = sqlalchemy.Column("pokemon_card_id", sqlalchemy.Integer, primary_key=True)
    name = sqlalchemy.Column("name", sqlalchemy.String(length=70), nullable=False)
    card_number = sqlalchemy.Column("card_number", sqlalchemy.String(length=50), nullable=False)
    price = sqlalchemy.Column("price", sqlalchemy.Float, nullable=False)
    card_type = sqlalchemy.Column("card_type", sqlalchemy.String(200))
    generation = sqlalchemy.Column("generation", sqlalchemy.String(200))
    
    def __repr__(self):
        return f"(pokemon_card_id: {self.pokemon_card_id}, name:{self.name}, card_number:{self.card_number}, price: {self.price}, card_type: {self.card_type}, generation: {self.generation})"


Base.metadata.drop_all(bind=engine)
Base.metadata.create_all(bind=engine)

columns_with_relation_to_pokemons = ['Pokemon', 'Card Number', 'Price', 'Card Type', 'Generation']
table_columns_name = [ 'name', 'card_number', 'price', 'card_type', 'generation']

pokemon_df = data[columns_with_relation_to_pokemons]

# Cleaning NaN values | lower case strings | drop duplicates
pokemon_df = pokemon_df.dropna().apply(lambda x: x.str.lower() if x.dtype == "object" else x).drop_duplicates()

# Checking for any NaN value
pokemon_df.isna().sum()

columns_mapping = dict(zip(columns_with_relation_to_pokemons, table_columns_name))
pokemon_df.rename(columns=columns_mapping, inplace=True)
pokemon_df.index = np.arange(1, len(pokemon_df) + 1)
pokemon_df.index.name = "pokemon_card_id"

pokemon_df.to_sql(name="pokemon_cards", con=engine, if_exists="replace", index=True)

25430

Queries:

1. How many cards have been sold in total
2. How many "Ampharos" cards have been sold
3. How many different generations labels are used in this database
4. Number of items that fall in a price range
5. What is the average price range for cards.

In [44]:
from sqlalchemy.orm import Session
from sqlalchemy import select


def execute_query(stmt) -> list:
    with Session(engine) as session:
        return [x[0] for x in session.execute(stmt)]

In [45]:
# How many cards have been sold in total
stmt_one = select(PokemonCards)
results = execute_query(stmt_one)
print(f"There have been {len(results)} cards sold")

There have been 25430 cards sold

In [46]:
# How many "Ampharos" cards have been sold
stmt_two = select(PokemonCards).where(PokemonCards.name == "ampharos")
results = execute_query(stmt_two)
print(f"There have been {len(results)} cards of Ampharos sold")

There have been 39 cards of Ampharos sold

In [47]:
# How many different  generations labels are used in this database
stmt_three = select(PokemonCards.generation).distinct()
results = execute_query(stmt_three)

print(f"There are {len(results)} labels for generations in this database")

There are 217 labels for generations in this database

In [48]:
# Number of items that fall in a price range
stmt_four = select(PokemonCards).filter(PokemonCards.price.between(1.90, 2.00))
results = execute_query(stmt_four)

print(f"There are {len(results)} that fall within that price range")

There are 382 that fall within that price range

In [49]:
# What is the average price range for cards.
stmt_five = select(sqlalchemy.func.round(sqlalchemy.func.avg(PokemonCards.price), 2))
results = execute_query(stmt_five)
print(f"The average sales price for pokemon cards is {results[0]}")

The average sales price for pokemon cards is 5.94

In [51]:
#CLEANING UP AND UPLOADING THE GROCERY DATA - Jairo
Base = declarative_base()
Base.metadata.create_all(engine)

df = data[data['size'].notnull()]
# selects the columns that are relevant to the produce section
produce = df[["price", "date", "product", "market", "size"]]

# drops any empty cells in any of the columns
produce = produce.dropna(subset=["price", "date", "product", "market", "size"])

# drops any duplicates
produce = produce.drop_duplicates()

# update the rows with values of 1 liter to liter to look more clean
condition = produce['size'] == "1 liter"
produce.loc[condition, 'size'] = 'liter'

produce.to_sql('produce', con=engine, if_exists='replace', index=False)

46705

In [53]:
# Sample Queries for Grocery data

def getPrice(price):
    stmt = f"select * from produce where price >= {price}"
    db_cursor.execute(stmt)
    result = db_cursor.fetchall()
    return result

def getProduceByWeightType(size):
    stmt = f"select * from produce where size = '{size}'"
    db_cursor.execute(stmt)
    result = db_cursor.fetchall()
    return result

def getAfterDate(date):
    stmt = f"select * from produce where date > '{date}'"
    db_cursor.execute(stmt)
    result = db_cursor.fetchall()
    return result

def getDistinctProduct():
    stmt = f"select distinct product from produce"
    db_cursor.execute(stmt)
    result = db_cursor.fetchall()
    return result